:root {
    --c1: #05386B;
    --c2: #379683;
    --c3: #00D880;
    --c4: #5CDB95;
    --c5: #001628;
    --c6: #D7FFE7;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page {
    flex-grow: 1;
}

p {
    color: var(--c5);
}

.mainTitlePerPage {
    position: relative;
    color: var(--c2);
    width: fit-content;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 70px;
    margin-top: 4rem;
}

.mainTitlePerPage::before {
    position: absolute;
    top: -10px;
    left: -10px;
    /* color: var(--c4);   */
    -webkit-text-fill-color: var(--c6);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--c4);
    z-index: -1;
}

.mainTitlePerPage::after {
    content: "";
    width: 100px;
    height: 5px;
    background-color: var(--c1);
    position: absolute;
    bottom: -30px;
    left: calc(50% - 50px);
}

/* Bandeau Top */
.topHeadband {
    background-color: var(--c5);
    height: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.topHeadband p {
    margin-bottom: 0;
    color: var(--c4);
    font-size: 0.8rem;
}

.rsxSociaux {
    display: flex;
    align-items: center;
}

.rsxSociaux img {
    width: 20px;
    margin-left: 15px;
}

.rsxSociaux p {
    margin-right: 15px;
}

/* Nav menu */
.navMenu {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.logo img {
    width: 200px;
    height: auto;
    margin-right: 30px;
}

.navLink {
    /* width: 45%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLink a {
    margin-right: 30px;
    color: var(--c5);
    font-weight: 600;
}

.navLink a:hover {
    text-decoration: none;
}

#openMenu,
#closeMenu {
    display: none;
}

/* Burger/Sidebar à < 600px */
@media screen and (max-width:600px) {
    .topHeadband>p {
        display: none;
    }

    .rsxSociaux {
        margin: auto;
    }

    #openMenu,
    #closeMenu {
        display: block;
        border: none;
        background: inherit;
    }

    #openMenu img,
    #closeMenu img {
        width: 30px;
        height: 30px;
    }

    .navMenu {
        justify-content: space-between;
    }

    .navLink {
        display: none;
        background-color: var(--c6);
        border-bottom: 2px solid var(--c1);
        height: 40vh;
        width: 100%;
        position: absolute;
        right: 0;
        top: -60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 15px;
        z-index: 1;
        transition: all 0.5s ease-in;
    }

    .navLink.show {
        top: 30px;
        transition: all 0.5s ease-in;
    }

    .navLink a {
        text-transform: uppercase;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .logoSidebar img {
        width: 200px;
        height: auto;
        margin-bottom: 50px;
    }

    #closeMenu {
        position: absolute;
        right: 15px;
        top: 35px;
    }
}

/*FOOTER*/
footer nav.footer-navbar {
    width: 100%;
    background: var(--c2);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

footer ul.navbar-wrapper {
    margin: auto;
    display: flex;
}

footer ul.navbar-wrapper li {
    list-style: none;
}

footer ul.navbar-wrapper li a {
    color: var(--c6);
}

footer ul.navbar-wrapper li:not(:last-child) a::after {
    content: "-";
    display: inline;
    color: var(--c6);
    padding-right: .5rem;
    padding-left: .5rem;
}

footer .copyright-wrapper {
    background: #05386B;
}

footer .copyright-wrapper .copyright {
    color: var(--c6);
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}

/* PAGE ACTUALITES */
.bloc-actus {
    display: flex;
    flex-wrap: wrap;
}

.article {
    max-width: calc(100% / 3 - 20px);
    background: var(--c6);
    padding: 1rem;
    position: relative;
    margin: 3rem 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .article {
        max-width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width:600px) {
    .article {
        max-width: calc(100% - 20px);
    }
}

.article .category {
    position: absolute;
    top: -2rem;
    left: 0;
    background: var(--c1);
    padding: 5px 10px;
    text-transform: uppercase;
}

.article .category a {
    color: var(--c6);
    text-decoration: none;
}

.article h3 {
    font-size: 1.2rem;
    color: var(--c2);
    font-weight: 700;
    text-transform: uppercase;
}

.article h3::after {
    content: "";
    background: var(--c1);
    width: 150px;
    height: 3px;
    display: block;
    margin: 10px 0;
}

.article p {
    color: var(--c2);
    font-size: 1rem;
}

.article .know-more {
    width: 100%;
    border-bottom: 1px solid var(--c1);
}

.article .know-more a {
    text-decoration: none;
}

.article .know-more p {
    text-align: right;
    font-size: 12px;
    margin: 0;
}

.article .thumbnail {
    overflow: hidden;
    height: 150px;
    margin-top: 15px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

/* PAGE DES EVENEMENTS */
.eventWrapper {
    position: relative;
}

.eventWrapper img {
    width: 100%;
}

.eventWrapper .eventBox {
    margin-bottom: 30px;
}

.eventBox img {
    max-height: 175px;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 15px;
}

.eventBox a h2 {
    color: var(--c2);
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.eventBox a,
.eventBox a:hover {
    text-decoration: none;
}

.eventBox p {
    color: var(--c2);
}

.eventBox {
    text-align: center;
}

.bgEventBeforeFooter {
    padding: 0;
    margin-top: -100px;
    pointer-events: none;
}

.bgEventBeforeFooter img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/* SINGLE PAGE EVENT */
.singleEventContent {
    padding: 50px 0 30px 0;
}

.eventImg img {
    width: 100%;
    height: auto;
}

.eventBanniere {
    padding: 0;
    width: 100%;
    position: relative;
}

.eventBanniere img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.banner.singleEvent {
    margin-bottom: 30px;
}

.singleEventTitle {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.eventInfo {
    text-align: center;
}

.eventInfo p {
    text-transform: uppercase;
    color: var(--c2);
    margin: 0;
}

.eventInfo p:last-of-type {
    display: block;
    margin-top: 8px;
}

.eventDescription p {
    font-size: 1.2rem;
}

/* HOME PAGE */
.newsletter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 9rem 2rem;
    text-align: center;
    margin-top: 6rem;
}

.newsletter h3 {
    color: var(--c6);
    font-size: 3rem;
}

.newsletter input[type="text"] {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--c6);
    outline: none;
}

.newsletter input[type="text"]::placeholder {
    color: var(--c6);
}

.newsletter input[type="submit"] {
    border: none;
    background: transparent;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--c6);
}

.event-section .eventWrapper {
    background: var(--c3);
    padding: 4rem 1rem;
}

.event-section .eventWrapper .eventBox h2,
.event-section .eventWrapper .eventBox p {
    color: var(--c1);
}


/* SINGLE ARTICLE */
.single-thumbnail {
    height: 20vh;
    overflow: hidden;
}

.single-thumbnail img {
    width: 100%;
    height: auto;
}

.single h1 {
    font-size: 2.2rem;
    color: var(--c2);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 4rem;
}

.single h1::after {
    content: "";
    background: var(--c1);
    width: 150px;
    height: 3px;
    display: block;
    margin: 10px 0;
}

.single.container {
    background: var(--c6);
    padding: 1rem;
    margin-bottom: 4rem;
}

.single.container p {
    color: var(--c2);
}

.single.container a {
    color: var(--c1);
}

.single.container figure.wp-block-image {
    text-align: center;
}


/* CONTACT */
.formContact {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;  */
    background-color: rgba(92,219,149,0.2);
 }
 .formContact form {
    padding:15px 15px 0 15px;
 }
.bgContact img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:center;
}
.row.contact {
    margin-bottom: 30px;
}
.formContact input, .formContact textarea{
    width: 100%;
}
#btnSubmitContact {
    background-color: var(--c2);
    border:none;
    border-radius: 25px;
    color:#fff;
    padding:5px 20px;
}
.formContact label {
    color: var(--c2);
    margin-bottom: 0;
}
.formContact input,.formContact textarea {
    color: var(--c2);
    border: none;
    border-bottom: 1px solid var(--c5);
    background: transparent;
}
.formContact input {
    margin-bottom: 15px;
}
.formContact input:focus,.formContact textarea:focus {
    outline-color: var(--c2);
}
#btnSubmitContact {
    margin: auto;
    margin-top: 30px;
}
#btnSubmitContact:focus {
    outline:none;
}
.shareRsx {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 15px 0;
}
.shareRsx p {
    color:var(--c2);
    text-transform: uppercase;
    font-weight: 600;
}
.ico {
    display: flex;
    justify-content: center;
}
.shareRsx .ico img {
    width: 30px;
    height: 30px;
}
.shareRsx .ico a:first-of-type {
    margin-right: 15px;
}