:root {
    --c1: #05386B;
    --c2: #379683;
    --c3: #00D880;
    --c4: #5CDB95;
    --c5: #001628;
    --c6: #D7FFE7;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/* Bandeau Top */
.topHeadband {
    background-color: var(--c5);
    height: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.topHeadband p {
    margin-bottom: 0;
    color: var(--c4);
    font-size: 0.8rem;
}

.rsxSociaux {
    display: flex;
    align-items: center;
}

.rsxSociaux img {
    width: 20px;
    margin-left: 15px;
}

.rsxSociaux p {
    margin-right: 15px;
}

/* Nav menu */
.navMenu {
    border-bottom: 1px solid black;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.logo img {
    width: 200px;
    height: auto;
    margin-right: 30px;
}

.navLink {
    /* width: 45%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLink a {
    margin-right: 30px;
    color: var(--c5);
    font-weight: 600;
}

.navLink a:hover {
    text-decoration: none;
}

#openMenu {
    display: none;
}

/* Burger/Sidebar à < 600px */
@media screen and (max-width:600px) {
    #openMenu,#closeMenu {
        display: block;
        border: none;
        background: inherit;
    }    
    #openMenu img,#closeMenu img {
        width: 30px;
        height: 30px;
    }
    .navMenu {
        justify-content: space-between;
    }
    .navLink {
        display: none;
        background-color: #fff;
        border-bottom: 2px solid var(--c1);
        height: 40vh;
        width: 100%;
        position: absolute;
        right: 0;
        top: -60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 30px 15px;
        z-index: 1;
        transition: all 0.5s ease-in;
    }    
    
    .navLink.show {
        top: 30px;
        transition: all 0.5s ease-in;
    }

    .navLink a {
        text-transform: uppercase;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .logoSidebar img {
        width: 200px;
        height: auto;
        margin-bottom: 50px;
    }
    #closeMenu {
        position: absolute;
        right: 15px;
        top: 35px;
    }
}

/*FOOTER*/
footer nav.footer-navbar {
    width: 100%;
    background: #379683;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

footer ul.navbar-wrapper {
    margin: auto;
    display: flex;
}

footer ul.navbar-wrapper li {
    list-style: none;
}

footer ul.navbar-wrapper li a {
    color: #F3FFF8;
}

footer ul.navbar-wrapper li:not(:last-child) a::after {
    content: "-";
    display: inline;
    color: #F3FFF8;
    padding-right: .5rem;
    padding-left: .5rem;
}

footer .copyright-wrapper {
    background: #05386B;
}

footer .copyright-wrapper .copyright {
    color: #F3FFF8;
    text-align: center;
    font-size: 12px;
}

