/*FOOTER*/
footer nav.footer-navbar {
    width: 100%;
    background: #379683;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

footer ul.navbar-wrapper {
    margin: auto;
    display: flex;
}

footer ul.navbar-wrapper li {
    list-style: none;
}

footer ul.navbar-wrapper li a {
    color: #F3FFF8;
}

footer ul.navbar-wrapper li:not(:last-child) a::after {
    content: "-";
    display: inline;
    color: #F3FFF8;
    padding-right: .5rem;
    padding-left: .5rem;
}

footer .copyright-wrapper {
    background: #05386B;
}

footer .copyright-wrapper .copyright {
    color: #F3FFF8;
    text-align: center;
    font-size: 12px;
}